### Import Modules

In [1]:
import pandas as pd

### Q1
![image info](./q1.png)

Test Data

In [51]:
records = ["1, ks, 99", "2, ac, 75", "3, pm, 54", "4, lm, 42", "5, nm, 33", "6, sl, 89", "7, aj, 78"]
queries = [1,3,4,6,7,9]

Function

In [69]:
def examResults(records, queries):

    # assuming cannot use pandas dataframe so not continuing with this
    records_df = pd.DataFrame(data=[row.split(",") for row in records[:]], columns=["ID", "NAME", "SCORE"]).set_index("ID")

    # empty dict
    records_dict = {}

    # loop through records and add to dict where key is ID
    for i in records:
        arr = i.split(", ")
        records_dict[arr[0]] = [arr[1], arr[2]]

    # loop through dict and drop records where score < 60
    for i in list(records_dict):
        if int(records_dict[i][1]) < 60:
            records_dict.pop(i)
    
    # empy list to hold results
    res = []

    # loop through queries list
    # if element in dict keys then append dict value to res
    # else append -1
    for i in queries:
        if str(i) in records_dict:
            res.append(int(records_dict[str(i)][1]))
        else:
            res.append(-1)

    return res

Result

In [71]:
examResults(records, queries)

[99, -1, -1, 89, 78, -1]

### Q2
![image info](./q2.png)

example 1 = [5,1,3,2,4]
output = [1,5,3,4,2]

example 2 = [4,1,3,1,4]
output =    [1,4,3,5,2]

example 3 = [5,5,3,1,3,2,4]
output = [1,2,6,4,5,3]

Test Data

In [72]:
example_1 = [5,1,3,2,4] # output = [1,5,3,4,2]
example_2 = [4,1,3,1,4] # output = [1,4,3,5,2]
example_3 = [5,5,1,3,2,4] # output = 1,2,6,4,5,3]
example_4 = [5,5,5,1,3,2,4] # output = [1,2,3,7,5,6,4]

Function

In [73]:
def computeRank(arr):
    sorted_arr = sorted(arr, reverse=True)
    d1 = dict(enumerate(arr))
    d2 = {i + 1: v for i, v in enumerate(sorted_arr)}
    res = []
    for v1 in arr:
        for k in d2:
            if v1 == d2[k]:
                res.append(k)
                del d2[k]
                break
    return res

Result

In [74]:
print(computeRank(example_1))
print(computeRank(example_2))
print(computeRank(example_3))
print(computeRank(example_4))

[1, 5, 3, 4, 2]
[1, 4, 3, 5, 2]
[1, 2, 6, 4, 5, 3]
[1, 2, 3, 7, 5, 6, 4]

### Q3
![image info](./q3.png)

Test Data

In [88]:
table1 = [[1, 70], [2, 75], [7, 90], [4, 85], [5, 100], [6, 60]]
table2 = [["ab", 1, "m", 9], ["ac", 2, "f", 9], ["bc", 7, "f", 11], ["bd", 4, "f", 8], ["be", 5, "m", 9], ["bf", 6, "m", 7], ["bg", 9, "m", 8]]

Function

In [148]:
def averageScore():
    # data
    table1 = [[1, 70], [2, 75], [7, 90], [4, 85], [5, 100], [6, 60]]
    table2 = [["ab", 1, "m", 9], ["ac", 2, "f", 9], ["bc", 7, "f", 11], ["bd", 4, "f", 8], ["be", 5, "m", 9], ["bf", 6, "m", 7], ["bg", 9, "m", 8]]

    # turn tables into df
    df1 = pd.DataFrame(table1, columns = ["ID", "GRADE"])
    df2 = pd.DataFrame(table2, columns = ["NAME","ID","GENDER","AGE"])

    # re-index dataframes on ID
    df1.set_index("ID", inplace=True)
    df2.set_index("ID", inplace=True)

    # join two dataframes on ID linking GRADE with NAME, GENDER, AGE via ID
    df3 = df1.join(df2)

    # calculate mean of GRADE based on conditions AGE < 10 and GENDER
    m = df3.loc[(df3["AGE"] < 10) & (df3["GENDER"] == 'm'), "GRADE"].mean()
    f = df3.loc[(df3["AGE"] < 10) & (df3["GENDER"] == 'f'), "GRADE"].mean()

    # convert data type from float to int
    return [int(m), int(f)]

Result

In [149]:
averageScore()

[76, 80]

### Q4
![image info](./q4.png)

Test Data

In [ ]:
ric1 = 'ABCU1'
ric2 = 'BC1Z12'
ric3 = 'CADJPY=5'
ric4 = ''

Function

Result