### Import Modules

In [1]:
import pandas as pd

### Q1
![image info](./q1.png)

In [98]:
records = ["1, ks, 99", "2, ac, 75", "3, pm, 54", "4, lm, 42", "5, nm, 33", "6, sl, 89", "7, aj, 78"]
queries = [1,3,4,6,7,9]

In [97]:
def examResults(records, queries):
    
    records_df = pd.DataFrame(data=[row.split(",") for row in records[0:]], columns=["ID", "NAME", "SCORE"]).set_index("ID")


    return None

In [127]:
df = pd.DataFrame(data=[row.split(",") for row in records[0:]], columns=["ID", "NAME", "SCORE"]).set_index("ID")

print(df)

   NAME SCORE
ID
1    ks    99
2    ac    75
3    pm    54
4    lm    42
5    nm    33
6    sl    89
7    aj    78

### Q2
![image info](./q2.png)

example 1 = [5,1,3,2,4]
output = [1,5,3,4,2]

example 2 = [4,1,3,1,4]
output =    [1,4,3,5,2]

example 3 = [5,5,3,1,3,2,4]
output = [1,2,6,4,5,3]

In [90]:
example_1 = [5,1,3,2,4]
example_2 = [4,1,3,1,4]
example_3 = [5,5,1,3,2,4]
example_4 = [5,5,5,1,3,2,4]

In [95]:
def computeRank(arr):
    sorted_arr = sorted(arr, reverse=True)
    d1 = dict(enumerate(arr))
    d2 = {i + 1: v for i, v in enumerate(sorted_arr)}
    res = []
    for v1 in arr:
        for k in d2:
            if v1 == d2[k]:
                res.append(k)
                del d2[k]
                break
    return res

In [96]:
print(computeRank(example_1))
print(computeRank(example_2))
print(computeRank(example_3))
print(computeRank(example_4))

[1, 5, 3, 4, 2]
[1, 4, 3, 5, 2]
[1, 2, 6, 4, 5, 3]
[1, 2, 3, 7, 5, 6, 4]